<h1>Eat-Da-Burger!</h1>


<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devourIt=true}}
        {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            <li>{{id}}-{{burger_name}}</li>
        {{/if}}
    {{/each}}
</ul>

<form id="create-form" method="POST">
    <label for="burger-name">New Burger:</label>
    <br>
    <textarea id="burger-name" name="burger-name" rows="5" cols="30" placeholder="Add a new Burger!"></textarea>
    <input type="submit">
</form>