<h1 class="p-2 text-center">Eat-Da-Burger!</h1>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/assets/img/burger_pic.png">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h3>Ready to Eat!</h3>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <h3>Already Eaten!</h3>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block2}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="create-form" method="POST">
                <div class="mb-3 text-center">
                    <label for="burger-name" class="form-label">New Burger:</label>
                    <br>
                    <textarea id="burger-name" name="burger-name" rows="5" cols="30"
                        placeholder="Add a new Burger!"></textarea>
                    <br>
                    <input type="submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>